azure-cosmos
azure-ai-ml
azure-ai-resources
azure-search-documents==11.4.0
azure-identity==1.16.0
python-dotenv==1.0.1
jsonlines
prompty
prompty[azure]
nbconvert
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability