azure-cosmos
azure-ai-ml
azure-ai-resources
azure-search-documents==11.4.0
azure-identity==1.16.0
python-dotenv==1.0.1
jsonlines
prompty
prompty[azure]
nbconvert
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability